<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>anupam.watch.myprojects.anupam</string>

	 <key>ProgramArguments</key>
	 	<array>
	 		<string>/Users/anupam/bin/lv</string>
	 		<string>/Users/anupam/myprojects</string>
	 		<string>/Users/anupam/LiveVersion/myprojects.anupam</string>
	 		<string>/Users/anupam/logs/myprojects.anupam.log</string>
	 	</array>

	 <key>WatchPaths</key>
	 	<array>
	 		<string>/Users/anupam/myprojects</string>
	 	</array>

	 <key>RunAtLoad</key>
		<true/>
</dict>
</plist>
